

.work-button-idle {
    animation: pulse 2s infinite;
    transform-origin: left;
}

.work-button-others-hovered:not(:hover) {
    animation: pulseSmall 0.3s forwards;
    border-color: #334155 !important;
    color: #334155 !important;
    transform-origin: left;
}

.work-button-hovered:hover {
    animation: pulseBig 1s infinite;
    transform-origin: left;
}

@keyframes pulseSmall {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}

@keyframes pulseBig {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.1);
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}