@import "variables.scss";

.fontLarge {
    font-size: 3vw;
    font-weight: 700;
}

html, body {
    background-color: map-get($backgroundColors, primary);
    // monsterrat
    font-family: map-get($fontFamilies, primary);
    // primary font color
    color: map-get($textColors, primary);
}